.tattoo__menu-list {
  display: flex;
  margin-left: 10%;
  margin-bottom: 50px;
}
.tattoo__menu-list li a {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.tattoo__list-point {
  font-size: 18px;
  font-weight: 200;
  font-family: "Circe", Arial, sans-serif;
  letter-spacing: 0.7px;
  color: black;
  text-decoration: none;
}
.tattoo__list-point:hover {
  font-weight: 700;
}
.tattoo__conteiner-sortorder {
  margin-left: 125px;
}
.tattoo__sortorder-animals {
  display: none;
}
.tattoo__sortorder-plane {
  display: none;
}
.tattoo__sortorder-linii {
  display: none;
}
.tattoo__sortorder-moon {
  display: none;
}
.tattoo__sortorder-set {
  display: none;
}
.tattoo__sortorder-250 {
  display: none;
}
