#image-001 {
  width: 100%;
  height: 100%;
  background: url(../image/catalog/catalog__freckles/001.png);
  background-size: contain;
}
#image-001:hover {
  background-image: url(../image/catalog/catalog__freckles/001-active.jpeg);
}
#image-002 {
  width: 100%;
  height: 100%;
  background: url(../image/catalog/catalog__freckles/002.png);
  background-size: contain;
}
#image-002:hover {
  background-image: url(../image/catalog/catalog__freckles/002-active.jpeg);
}
#image-003 {
  width: 100%;
  height: 100%;
  background: url(../image/catalog/catalog__freckles/003.png);
  background-size: contain;
}
#image-003:hover {
  background-image: url(../image/catalog/catalog__freckles/003-active.jpeg);
}
#image-004 {
  width: 100%;
  height: 100%;
  background: url(../image/catalog/catalog__freckles/004.png);
  background-size: contain;
}
#image-004:hover {
  background-image: url(../image/catalog/catalog__freckles/004-active.jpeg);
}
#image-005 {
  width: 100%;
  height: 100%;
  background: url(../image/catalog/catalog__freckles/005.png);
  background-size: contain;
}
#image-005:hover {
  background-image: url(../image/catalog/catalog__freckles/005-active.jpeg);
}
#image-006 {
  width: 100%;
  height: 100%;
  background: url(../image/catalog/catalog__moon/001.png);
  background-size: contain;
}
#image-006:hover {
  background-image: url(../image/catalog/catalog__moon/001-active.jpeg);
}
#image-007 {
  width: 100%;
  height: 100%;
  background: url(../image/catalog/catalog__linii/002.png);
  background-size: contain;
}
#image-007:hover {
  background-image: url(../image/catalog/catalog__linii/002-active.jpeg);
}
#image-008 {
  width: 100%;
  height: 100%;
  background: url(../image/catalog/catalog__linii/003.png);
  background-size: contain;
}
#image-008:hover {
  background-image: url(../image/catalog/catalog__linii/003-active.jpeg);
}
#image-009 {
  width: 100%;
  height: 100%;
  background: url(../image/catalog/catalog__tattoo/004.png);
  background-size: contain;
}
#image-009:hover {
  background-image: url(../image/catalog/catalog__tattoo/004-active.jpeg);
}
#image-010 {
  width: 100%;
  height: 100%;
  background: url(../image/catalog/catalog__moon/005.png);
  background-size: contain;
}
#image-010:hover {
  background-image: url(../image/catalog/catalog__moon/005-active.jpeg);
}
#image-011 {
  width: 100%;
  height: 100%;
  background: url(../image/catalog/catalog__animals/001.jpeg);
  background-size: contain;
}
#image-011:hover {
  background-image: url(../image/catalog/catalog__animals/001-active.jpeg);
}
#image-012 {
  width: 100%;
  height: 100%;
  background: url(../image/catalog/catalog__animals/002.jpeg);
  background-size: contain;
}
#image-012:hover {
  background-image: url(../image/catalog/catalog__animals/002-active.jpeg);
}
#image-013 {
  width: 100%;
  height: 100%;
  background: url(../image/catalog/catalog__animals/003.jpeg);
  background-size: contain;
}
#image-013:hover {
  background-image: url(../image/catalog/catalog__animals/003-active.jpeg);
}
#image-014 {
  width: 100%;
  height: 100%;
  background: url(../image/catalog/catalog__animals/004.jpeg);
  background-size: contain;
}
#image-014:hover {
  background-image: url(../image/catalog/catalog__animals/004-active.jpeg);
}
#image-015 {
  width: 100%;
  height: 100%;
  background: url(../image/catalog/catalog__animals/005.jpeg);
  background-size: contain;
}
#image-015:hover {
  background-image: url(../image/catalog/catalog__animals/005-active.jpeg);
}
#image-016 {
  width: 100%;
  height: 100%;
  background: url(../image/catalog/catalog__plant/001.jpeg);
  background-size: contain;
}
#image-016:hover {
  background-image: url(../image/catalog/catalog__plant/001-active.jpeg);
}
#image-017 {
  width: 100%;
  height: 100%;
  background: url(../image/catalog/catalog__plant/002.jpeg);
  background-size: contain;
}
#image-017:hover {
  background-image: url(../image/catalog/catalog__plant/002-active.jpeg);
}
#image-018 {
  width: 100%;
  height: 100%;
  background: url(../image/catalog/catalog__plant/003.jpeg);
  background-size: contain;
}
#image-018:hover {
  background-image: url(../image/catalog/catalog__plant/003-active.jpeg);
}
#image-019 {
  width: 100%;
  height: 100%;
  background: url(../image/catalog/catalog__plant/004.jpeg);
  background-size: contain;
}
#image-019:hover {
  background-image: url(../image/catalog/catalog__plant/004-active.jpeg);
}
#image-020 {
  width: 100%;
  height: 100%;
  background: url(../image/catalog/catalog__plant/005.png);
  background-size: contain;
}
#image-020:hover {
  background-image: url(../image/catalog/catalog__plant/005-active.jpeg);
}
#image-021 {
  width: 100%;
  height: 100%;
  background: url(../image/catalog/catalog__linii/001.png);
  background-size: contain;
}
#image-021:hover {
  background-image: url(../image/catalog/catalog__linii/001-active.jpeg);
}
#image-022 {
  width: 100%;
  height: 100%;
  background: url(../image/catalog/catalog__linii/004.png);
  background-size: contain;
}
#image-022:hover {
  background-image: url(../image/catalog/catalog__linii/004-active.jpeg);
}
#image-023 {
  width: 100%;
  height: 100%;
  background: url(../image/catalog/catalog__linii/005.png);
  background-size: contain;
}
#image-023:hover {
  background-image: url(../image/catalog/catalog__linii/005-active.jpeg);
}
#image-024 {
  width: 100%;
  height: 100%;
  background: url(../image/catalog/catalog__kristal/001.png);
  background-size: contain;
}
#image-024:hover {
  background-image: url(../image/catalog/catalog__kristal/001-active.jpeg);
}
#image-025 {
  width: 100%;
  height: 100%;
  background: url(../image/catalog/catalog__icon/001.jpeg);
  background-size: contain;
}
#image-025:hover {
  background-image: url(../image/catalog/catalog__icon/001-1.jpeg);
}
#image-026 {
  width: 100%;
  height: 100%;
  background: url(../image/catalog/catalog__plant/006.png);
  background-size: contain;
}
#image-026:hover {
  background-image: url(../image/catalog/catalog__plant/006-1.jpeg);
}
#image-027 {
  width: 100%;
  height: 100%;
  background: url(../image/catalog/catalog__animals/006.jpeg);
  background-size: contain;
}
#image-027:hover {
  background-image: url(../image/catalog/catalog__animals/006-1.jpeg);
}
#image-028 {
  width: 100%;
  height: 100%;
  background: url(../image/catalog/sertificat.png);
  background-size: contain;
}
