body {
  padding: 0;
  margin: 0;
  font-family: "Anton", sans-serif;
  color: black;
  font-size: 16px;
  width: 1440px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

ul,
li {
  display: block;
  margin: 0;
}
.header {
  margin: 0 auto;
}
.header__conteiner {
  width: 100%;
}
.header__conteiner-delivery {
  width: 100%;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  letter-spacing: 0.7px;
  background: #2c2c2c;
  color: white;
}
.header__conteiner-menu {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header__menu-logo {
  margin-left: 80px;
  font-size: 25px;
  margin-right: 12%;
  letter-spacing: 0.7px;
  color: black;
}
.header__nav-row {
  display: flex;
  margin-top: 7px;
}
.header__nav-row li a {
  text-decoration: none;
  letter-spacing: 0.7px;
  padding-right: 30px;
  font-weight: 700;
  font-size: 13px;
  color: black;
}
.header__nav-row li a:hover {
  color: #f08a14;
}
.header__menu-image {
  display: flex;
  height: 40px;
  width: 80px;
  margin-left: 10px;
  margin-right: 10px;
}
.header__image-search {
  height: 40px;
  width: 40px;
  color: white;
}
.header__menu-language {
  display: flex;
  letter-spacing: 0.7px;
  font-size: 15px;
  font-weight: 500;
  margin-top: 8px;
}
.header__language-ru {
  margin-right: 5px;
}
.header__language {
  margin-right: 5px;
}
/* кнопки */
.button__conteiner {
  display: flex;
  margin-left: 150px;
}
.button__conteiner-image {
  width: 230px;
  height: 230px;
  margin-left: 5px;
}
.button__image {
  position: absolute;
  z-index: -1;
  width: 230px;
  height: 230px;
}
.button__title {
  color: white;
  font-size: 15px;
  font-weight: 400;
  font-family: "Circe", Arial, sans-serif;
  letter-spacing: 0.7px;
  margin-top: 200px;
  margin-left: 10px;
}
/* загаловок каталога */
.title__title {
  font-size: 40px;
  font-weight: 400;
  font-family: "Circe", Arial, sans-serif;
  letter-spacing: 0.7px;
  margin-top: 30px;
  margin-left: 150px;
  margin-bottom: 40px;
}
/* catalog */
.catalog__menu-list {
  display: flex;
  margin-left: 30%;
  margin-bottom: 50px;
}
.catalog__menu-list li a {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.catalog__list-point {
  font-size: 18px;
  font-weight: 200;
  font-family: "Circe", Arial, sans-serif;
  letter-spacing: 0.7px;
  color: black;
  text-decoration: none;
}
.catalog__list-point:hover {
  font-weight: 700;
}
.catalog__field__select {
  width: 17%;
  height: 30px;
  border: 1px #ddd solid;
  background: #f8f8f8;
  color: #000;
  box-sizing: border-box;
  cursor: pointer;
  padding: 2px 30px 2px 10px;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  font-size: 15px;
}

.catalog__conteiner-filter {
  margin-left: 130px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.catalog__conteiner-sortorder {
  margin-left: 125px;
}
.catalog__row {
  display: flex;
  flex-wrap: wrap;
}
.catalog__row-product {
  width: 255px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 90px;
}
.catalog__image {
  width: 100%;
}
.catalog__product-title {
  margin-top: 15px;
  color: #1c1c1c;
  font-size: 18px;
  font-weight: 400;
  font-family: "Circe";
  letter-spacing: 0.7px;
}
.catalog__product-details {
  margin-top: 15px;
  color: #6b6b6b;
  font-size: 14px;
  font-weight: 400;
  font-family: "Circe";
  letter-spacing: 0.7px;
}
.catalog__product-price {
  margin-top: 15px;
  color: #1c1c1c;
  font-size: 18px;
  font-weight: 400;
  font-family: "Circe";
  letter-spacing: 0.7px;
}
.catalog__product-button {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 50px;
  font-size: 20px;
  font-weight: 400;
  font-family: "Circe";
  border: 1px solid #1c1c1c;
  background: white;
}
/* футер */
.footer__conteiner {
  height: 400px;
  background: #1c1c1c;
  color: white;
}
.footer__conteiner-menu {
  display: flex;
  padding-top: 70px;
  padding-left: 120px;
}
.footer__menu-row {
  font-size: 18px;
  font-family: "Circe", Arial, sans-serif;
  letter-spacing: 0.7px;
  font-weight: 400;
  padding-left: 60px;
}
.footer__menu-row li a {
  font-size: 14px;
  font-family: "Circe", Arial, sans-serif;
  letter-spacing: 0.7px;
  color: white;
  text-decoration: none;
}
.footer__row-title {
  margin-bottom: 15px;
}
.footer__row-point {
  margin-bottom: 15px;
}
.footer__menu-search {
  width: 40%;
  margin-left: 80px;
}
.footer__search-title {
  font-size: 14px;
  font-family: "Circe", Arial, sans-serif;
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  margin-bottom: 40px;
}
.footer__search-info {
  font-size: 12px;
  font-family: "Circe", Arial, sans-serif;
  color: #cecece;
  text-decoration: none;
  letter-spacing: 1px;
  margin-top: 15px;
}
.footer__input-email {
  width: 90%;
  height: 15%;
  background: #1c1c1c;
  color: #6b6b6b;
  font-size: 15px;
  border-bottom: 1px solid white;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  letter-spacing: 1px;
  padding-bottom: 5px;
}
.footer__input-arrow {
  position: absolute;
  z-index: 1;
  margin-left: -31px;
}
.footer__conteiner-info {
  display: flex;
  margin-top: 90px;
  margin-left: 180px;
}
.footer__info-logo {
  font-size: 12px;
  font-family: "Circe", Arial, sans-serif;
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  margin-top: 15px;
  margin-right: 120px;
}
.footer__info-document {
  font-size: 12px;
  font-family: "Circe", Arial, sans-serif;
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  margin-top: 15px;
  margin-right: 40px;
}
.footer__info-social {
  display: flex;
  margin-right: 120px;
}
.footer__image {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
.footer__info-payment {
  margin-top: -5px;
}
.footer__images {
  width: 80px;
  height: 50px;
  margin-right: 20px;
}
/* basket */
.basket {
  display: none;
}

.basket__conteiner-background {
  position: fixed;
  display: block;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.7);
}
.basket__conteiner {
  width: 750px;
  position: fixed;
  z-index: 5;
  background: white;
  color: #000;
  margin-left: 25%;
  margin-top: 5%;
}
.basket__conteiner-title {
  display: flex;
  margin-top: 7%;
  margin-left: 9%;
  margin-bottom: 5%;
}
.basket__title-title {
  font-size: 30px;
  letter-spacing: 0.7px;
  font-weight: 400;
  font-family: "Circe", Arial, sans-serif;
}
.basket__title-exit {
  width: 30px;
  height: 30px;
  margin-left: 70%;
  margin-top: -4%;
}
.basket__conteiner-bitton {
  margin-top: 5%;
  margin-bottom: 3%;
  margin-left: 18%;
  display: flex;
}
.basket__button-shop {
  width: 200px;
  height: 40px;
  font-size: 20px;
  border: 1px solid black;
  background: #f5f5f5;
  color: black;
  letter-spacing: 0.7px;
  font-weight: 400;
  font-family: "Circe", Arial, sans-serif;
  margin-right: 80px;
}
.basket__button-clear {
  width: 200px;
  height: 40px;
  font-size: 20px;
  border: 1px solid black;
  background: #ffcece;
  color: black;
  letter-spacing: 0.7px;
  font-weight: 400;
  font-family: "Circe", Arial, sans-serif;
}
.basket__conteiner-info {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  color: black;
  letter-spacing: 0.7px;
  font-weight: 400;
  font-family: "Circe", Arial, sans-serif;
  font-size: 14px;
}

/* характеристики корзины */
.basket__conteiner-shop {
  display: none;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-top: 1px solid #6b6b6b;
}
.basket__shop-image {
  width: 80px;
  height: 80px;
  padding-left: 5%;
  margin-right: 5%;
}
.basket__shop-name {
  margin-top: 5%;
  color: black;
  letter-spacing: 0.7px;
  font-weight: 400;
  font-family: "Circe", Arial, sans-serif;
  font-size: 18px;
  margin-right: 5%;
  min-width: 220px;
}
.basket__shop-quantity {
  margin-top: 5%;
  color: black;
  letter-spacing: 0.7px;
  font-weight: 400;
  font-family: "Circe", Arial, sans-serif;
  font-size: 18px;
  margin-right: 5%;
}
.basket__shop-price {
  margin-top: 5%;
  color: black;
  letter-spacing: 0.7px;
  font-weight: 400;
  font-family: "Circe", Arial, sans-serif;
  font-size: 18px;
  margin-right: 5%;
}
.basket__shop-cross {
  margin-top: 5%;
  width: 20px;
  height: 20px;
}
.basket__conteiner-none {
  margin-left: 10%;
  margin-top: 5%;
  color: black;
  letter-spacing: 0.7px;
  font-weight: 400;
  font-family: "Circe", Arial, sans-serif;
  font-size: 20px;
  margin-right: 5%;
  min-width: 220px;
  border-top: 1px solid #6b6b6b;
  border-bottom: 1px solid #6b6b6b;
  padding-top: 5%;
  padding-bottom: 5%;
}
