body {
  padding: 0;
  margin: 0;
  font-family: "Anton", sans-serif;
  color: black;
  font-size: 16px;
  width: 1440px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

ul,
li {
  display: block;
  margin: 0;
}
.header {
  margin: 0 auto;
}
.header__conteiner {
  width: 100%;
}
.header__conteiner-delivery {
  width: 100%;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  background: #2c2c2c;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  letter-spacing: 0.7px;
}
.header__conteiner-menu {
  display: flex;
  margin-top: 20px;
}
.header__menu-logo {
  color: white;
  margin-left: 80px;
  font-size: 25px;
  margin-right: 12%;
  letter-spacing: 0.7px;
}
.header__nav-row {
  display: flex;
  margin-top: 7px;
}
.header__nav-row li a {
  color: white;
  text-decoration: none;
  letter-spacing: 0.7px;
  padding-right: 30px;
  font-weight: 700;
  font-size: 13px;
}
.header__nav-row li a:hover {
  color: #f08a14;
}
.header__menu-language {
  display: flex;
  color: white;
  letter-spacing: 0.7px;
  font-size: 15px;
  font-weight: 500;
  margin-top: 8px;
}
.header__menu-image {
  display: flex;
  height: 40px;
  width: 80px;
  margin-left: 10px;
  margin-right: 10px;
}
.header__image-search {
  height: 40px;
  width: 40px;
  color: white;
}
.header__language-ru {
  margin-right: 5px;
}
.header__language {
  margin-right: 5px;
}
.header__conteiner-title {
  color: white;
  font-size: 70px;
  margin-top: 90px;
  margin-left: 150px;
}
.header__conteiner-scroll {
  margin-top: 320px;
  margin-left: 150px;
  text-decoration: underline;
}
.header__scroll-text {
  color: white;
}
.header__background {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: -100;
}
.header__ticker {
  margin-top: 100px;
}
.header__ticker-marquee {
  color: white;
  background: #e49d86;
  height: 35px;
  font-size: 15px;
  letter-spacing: 0.7px;
  padding-top: 12px;
}
.new__conteiner {
  background: white;
  width: 82%;
  margin: 0 auto;
  margin-top: -4px;
  margin-bottom: 70px;
}
.new__conteiner-title {
  display: flex;
  margin-bottom: 20px;
  margin-top: 80px;
  margin-left: 2%;
}
.new__title-title {
  font-size: 30px;
  letter-spacing: 0.7px;
}
.new__title-catalog {
  font-size: 20px;
  letter-spacing: 0.7px;
  margin-left: 77%;
  margin-top: 7px;
  text-decoration: underline;
}
.new__catalog-row {
  display: flex;
  margin-left: 10px;
}
.new__row-product {
  width: 255px;
  margin-left: 20px;
  margin-right: 20px;
}
.new__image {
  width: 100%;
}
.new__product-title {
  margin-top: 15px;
  color: #1c1c1c;
  font-size: 18px;
  font-weight: 400;
  font-family: "Circe";
  letter-spacing: 0.7px;
}
.new__product-details {
  margin-top: 15px;
  color: #6b6b6b;
  font-size: 14px;
  font-weight: 400;
  font-family: "Circe";
  letter-spacing: 0.7px;
}
.new__product-price {
  margin-top: 15px;
  color: #1c1c1c;
  font-size: 18px;
  font-weight: 400;
  font-family: "Circe";
  letter-spacing: 0.7px;
}
.new__product-basket {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 50px;
  font-size: 20px;
  font-weight: 400;
  font-family: "Circe";
  border: 1px solid #1c1c1c;
  background: white;
}
.catalog__conteiner-row {
  display: flex;
}
.catalog__row-info {
  width: 50%;
  height: 700px;
}
.catalog__info-image {
  z-index: -1;
  position: relative;
}
.catalog__image {
  width: 720px;
  height: 700px;
  position: absolute;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.catalog__info-title {
  color: #ffffff;
  font-size: 40px;
  font-family: "Circe", Arial, sans-serif;
  font-weight: 400;
  margin-top: 550px;
  margin-left: 50px;
  letter-spacing: 0.7px;
}
.catalog__info-button {
  display: flex;
}
.catalog__button-title {
  margin-top: 20px;
  margin-left: 50px;
  color: #ffffff;
  font-size: 18px;
  font-family: "Circe", Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 0.7px;
}
.catalog__button-arrow {
  margin-top: 20px;
  margin-left: 20px;
}
.sale__conteiner {
  width: 82%;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 70px;
}
.sale__conteiner-title {
  display: flex;
  margin-bottom: 20px;
  margin-top: 80px;
}
.sale__title-title {
  font-size: 30px;
  letter-spacing: 0.7px;
  margin-left: 2%;
}
.sale__title-catalog {
  font-size: 20px;
  letter-spacing: 0.7px;
  margin-left: 79%;
  text-decoration: underline;
}
.sale__catalog-row {
  display: flex;
  margin-left: 10px;
}
.sale__row-product {
  width: 255px;
  margin-left: 20px;
  margin-right: 20px;
}
.sale__image {
  width: 100%;
}
.sale__product-title {
  margin-top: 15px;
  color: #1c1c1c;
  font-size: 18px;
  font-weight: 400;
  font-family: "Circe";
  letter-spacing: 0.7px;
}
.sale__product-details {
  margin-top: 15px;
  color: #6b6b6b;
  font-size: 14px;
  font-weight: 400;
  font-family: "Circe";
  letter-spacing: 0.7px;
}
.sale__product-price {
  margin-top: 15px;
  color: #1c1c1c;
  font-size: 18px;
  font-weight: 400;
  font-family: "Circe";
  letter-spacing: 0.7px;
}
.sale__product-basket {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 50px;
  font-size: 20px;
  font-weight: 400;
  font-family: "Circe";
  border: 1px solid #1c1c1c;
  background: white;
}
.catalog__set__ticker {
  margin-top: 50px;
}
.catalog__set__ticker-marquee {
  color: white;
  background: #e49d86;
  height: 35px;
  font-size: 15px;
  letter-spacing: 0.7px;
  padding-top: 12px;
}
.catalog__set__conteiner-row {
  display: flex;
  margin-top: -4px;
}
.catalog__set__row-info {
  width: 50%;
  height: 700px;
}
.catalog__set__info-image {
  z-index: -1;
  position: relative;
}
.catalog__set__image {
  width: 720px;
  height: 700px;
  position: absolute;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.catalog__set__info-title {
  color: #ffffff;
  font-size: 40px;
  font-family: "Circe", Arial, sans-serif;
  font-weight: 400;
  margin-top: 550px;
  margin-left: 50px;
  letter-spacing: 0.7px;
}
.catalog__set__info-button {
  display: flex;
}
.catalog__set__button-title {
  margin-top: 20px;
  margin-left: 50px;
  color: #ffffff;
  font-size: 18px;
  font-family: "Circe", Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 0.7px;
}
.catalog__set__button-arrow {
  margin-top: 20px;
  margin-left: 20px;
}
.about__conteiner-info {
  margin-top: 50px;
  margin-bottom: 50px;
}
.about__info-title {
  color: #1c1c1c;
  font-size: 40px;
  font-family: "Circe", Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}
.about__info-details {
  margin-top: 40px;
  color: #1c1c1c;
  font-size: 15px;
  font-family: "Circe", Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  line-height: 2;
}
.catalog__figure__conteiner-row {
  display: flex;
  margin-top: -4px;
}
.catalog__figure__row-info {
  width: 50%;
  height: 700px;
}
.catalog__figure__info-image {
  z-index: -1;
  position: relative;
}
.catalog__figure__image {
  width: 720px;
  height: 700px;
  position: absolute;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.catalog__figure__info-title {
  color: #ffffff;
  font-size: 40px;
  font-family: "Circe", Arial, sans-serif;
  font-weight: 400;
  margin-top: 550px;
  margin-left: 50px;
  letter-spacing: 0.7px;
}
.catalog__figure__info-button {
  display: flex;
}
.catalog__figure__button-title {
  margin-top: 20px;
  margin-left: 50px;
  color: #ffffff;
  font-size: 18px;
  font-family: "Circe", Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 0.7px;
}
.catalog__figure__button-arrow {
  margin-top: 20px;
  margin-left: 20px;
}
.collaborations__conteiner {
  margin-top: 80px;
  margin-bottom: 50px;
}
.collaborations__conteiner-title {
  display: flex;
  margin-left: 150px;
  margin-bottom: 50px;
}
.collaborations__title-title {
  color: #1c1c1c;
  font-size: 40px;
  font-family: "Circe", Arial, sans-serif;
  line-height: 1.3;
  font-weight: 400;
}
.collaborations__title-info {
  margin-top: 15px;
  margin-left: 40%;
  margin-right: 100px;
  color: #1c1c1c;
  font-size: 18px;
  font-family: "Circe", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
.collaborations__conteiner-list {
  display: flex;
}
.collaborations__list-info {
  width: 355px;
  height: 356px;
  margin-right: 3px;
  margin-left: 3px;
}
.collaborations__info-image {
  width: 355px;
  height: 356px;
  position: absolute;
  z-index: -1;
  color: white;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.collaborations__info-title {
  margin-top: 320px;
  margin-left: 20px;
  color: white;
}
.client__conteiner {
  margin-top: 100px;
}
.client__conteiner-info {
  display: flex;
  margin-left: 150px;
  margin-bottom: 50px;
}
.client__info-title {
  color: #1c1c1c;
  font-size: 40px;
  font-family: "Circe", Arial, sans-serif;
  line-height: 1.3;
  font-weight: 400;
}
.client__info-details {
  margin-top: 15px;
  margin-left: 50%;
  margin-right: 100px;
  color: #1c1c1c;
  font-size: 18px;
  font-family: "Circe", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
.client__conteiner-scroll {
  width: 80%;
  height: 300px;
}
.client__conteiner-button {
  border: 0;
  font-size: 20px;
  background: white;
  color: #1c1c1c;
  font-size: 18px;
  font-family: "Circe", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-decoration: underline;
  margin-left: 43%;
}
.reviews {
  margin-top: 90px;
  background: #fff7f3;
}
.reviews__conteiner {
  width: 80%;
  height: 400px;
}
.reviews__conteiner-info {
  display: flex;
}
.reviews__info-title {
  color: #1c1c1c;
  font-size: 40px;
  font-family: "Circe", Arial, sans-serif;
  line-height: 1.3;
  font-weight: 400;
  margin-top: 100px;
  margin-left: 150px;
}
.reviews__conteiner-button {
  border: 0;
  background: #fff7f3;
  color: #1c1c1c;
  font-size: 18px;
  font-family: "Circe", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-decoration: underline;
  margin-left: 53.5%;
}
.faq__conteiner {
  display: flex;
  margin-bottom: 50px;
}
.faq__conteiner-title {
  color: #1c1c1c;
  font-size: 40px;
  font-family: "Circe", Arial, sans-serif;
  line-height: 1.3;
  font-weight: 400;
  margin-top: 100px;
  margin-left: 150px;
}
.faq__conteiner-row {
  margin-top: 100px;
  margin-left: 15%;
}
.faq__question-button {
  display: flex;
  border-top: 1px solid #858585;
  cursor: pointer;
}
.faq__button-text {
  color: #1c1c1c;
  font-size: 21px;
  font-weight: 400;
  font-family: "Circe", Arial, sans-serif;
  padding-top: 30px;
  padding-bottom: 30px;
}
.faq__button-scroll {
  width: 10%;
  color: #1c1c1c;
  font-size: 30px;
  font-family: "Circe", Arial, sans-serif;
  padding-top: 30px;
  padding-bottom: 30px;
}
.faq__question-scroll {
  display: none;
}
.footer__conteiner {
  height: 400px;
  background: #1c1c1c;
  color: white;
}
.footer__conteiner-menu {
  display: flex;
  padding-top: 70px;
  padding-left: 120px;
}
.footer__menu-row {
  font-size: 18px;
  font-family: "Circe", Arial, sans-serif;
  letter-spacing: 0.7px;
  font-weight: 400;
  padding-left: 60px;
}
.footer__menu-row li a {
  font-size: 14px;
  font-family: "Circe", Arial, sans-serif;
  letter-spacing: 0.7px;
  color: white;
  text-decoration: none;
}
.footer__row-title {
  margin-bottom: 15px;
}
.footer__row-point {
  margin-bottom: 15px;
}
.footer__menu-search {
  width: 40%;
  margin-left: 80px;
}
.footer__search-title {
  font-size: 14px;
  font-family: "Circe", Arial, sans-serif;
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  margin-bottom: 40px;
}
.footer__search-info {
  font-size: 12px;
  font-family: "Circe", Arial, sans-serif;
  color: #cecece;
  text-decoration: none;
  letter-spacing: 1px;
  margin-top: 15px;
}
.footer__input-email {
  width: 90%;
  height: 15%;
  background: #1c1c1c;
  color: #6b6b6b;
  font-size: 15px;
  border-bottom: 1px solid white;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  letter-spacing: 1px;
  padding-bottom: 5px;
}
.footer__input-arrow {
  position: absolute;
  z-index: 1;
  margin-left: -31px;
}
.footer__conteiner-info {
  display: flex;
  margin-top: 90px;
  margin-left: 180px;
}
.footer__info-logo {
  font-size: 12px;
  font-family: "Circe", Arial, sans-serif;
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  margin-top: 15px;
  margin-right: 120px;
}
.footer__info-document {
  font-size: 12px;
  font-family: "Circe", Arial, sans-serif;
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  margin-top: 15px;
  margin-right: 40px;
}
.footer__info-social {
  display: flex;
  margin-right: 120px;
}
.footer__image {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
.footer__info-payment {
  margin-top: -5px;
}
.footer__images {
  width: 80px;
  height: 50px;
  margin-right: 20px;
}
