body {
  padding: 0;
  margin: 0;
  font-family: "Anton", sans-serif;
  color: black;
  font-size: 16px;
  width: 1440px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

ul,
li {
  display: block;
  margin: 0;
}
/* header в каталоге */
.header {
  display: none;
  margin: 0 auto;
}
.header__conteiner {
  width: 100%;
}
.header__conteiner-delivery {
  width: 100%;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  letter-spacing: 0.7px;
  background: #2c2c2c;
  color: white;
}
.header__conteiner-menu {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header__menu-logo {
  margin-left: 80px;
  font-size: 25px;
  margin-right: 12%;
  letter-spacing: 0.7px;
  color: black;
}
.header__nav-row {
  display: flex;
  margin-top: 7px;
  margin-left: 80px;
  margin-right: 100px;
}
.header__nav-row li {
  text-decoration: none;
  letter-spacing: 0.7px;
  padding-right: 30px;
  font-weight: 700;
  font-size: 13px;
  color: black;
}
.header__nav-row li:hover {
  color: #f08a14;
  cursor: pointer;
}
.header__menu-image {
  display: flex;
  height: 40px;
  width: 80px;
  margin-left: 10px;
  margin-right: 10px;
}

.header__menu-language {
  display: flex;
  letter-spacing: 0.7px;
  font-size: 15px;
  font-weight: 500;
  margin-top: 8px;
}
.header__language-ru {
  margin-right: 5px;
}

/* index */
.index__header {
  margin: 0 auto;
}
.index__header__conteiner {
  width: 100%;
}
.index__header__conteiner-delivery {
  width: 100%;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  background: #2c2c2c;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  letter-spacing: 0.7px;
}
.index__header__conteiner-menu {
  display: flex;
  margin-top: 30px;
}
.index__header__menu-logo {
  color: white;
  margin-left: 80px;
  font-size: 25px;
  margin-right: 12%;
  letter-spacing: 0.7px;
}
.index__header__nav-row {
  display: flex;
  margin-top: 7px;
  margin-left: 80px;
  margin-right: 100px;
}
.index__header__nav-row li {
  color: white;
  text-decoration: none;
  letter-spacing: 0.7px;
  padding-right: 30px;
  font-weight: 700;
  font-size: 13px;
}
.index__header__nav-row li:hover {
  color: #f08a14;
  cursor: pointer;
}
.index__header__menu-language {
  display: flex;
  color: white;
  letter-spacing: 0.7px;
  font-size: 15px;
  font-weight: 500;
  margin-top: 8px;
}
.index__header__menu-image {
  display: flex;
  height: 40px;
  width: 80px;
  margin-left: 10px;
  margin-right: 10px;
}
.index__header__image-search {
  height: 40px;
  width: 40px;
  color: white;
}
.index__header__language-ru {
  margin-right: 5px;
}
.index__header__language {
  margin-right: 5px;
}
.index__header__conteiner-title {
  color: white;
  font-size: 70px;
  margin-top: 90px;
  margin-left: 150px;
}
.index__header__conteiner-scroll {
  margin-top: 330px;
  margin-left: 150px;
  text-decoration: underline;
  color: #ffffff;
}
.index__header__scroll-text {
  color: white;
}
.index__header__scroll-text:hover {
  color: #e49d86;
  cursor: pointer;
  transition-duration: 0.5s;
}
.index__header__background {
  position: absolute;
  margin-top: 20px;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: -100;
}
.index__header__ticker {
  margin-top: 120px;
}
.index__header__ticker-marquee {
  color: white;
  background: #e49d86;
  height: 35px;
  font-size: 15px;
  letter-spacing: 0.7px;
  padding-top: 12px;
}
/* новинки на главной странице */
.index__catalog__new__conteiner {
  background: white;
  width: 82%;
  margin: 0 auto;
  margin-top: -4px;
  margin-bottom: 70px;
}
.index__catalog__new__conteiner-title {
  display: flex;
  margin-bottom: 20px;
  margin-top: 80px;
  margin-left: 2%;
}
.index__catalog__new__title-title {
  font-size: 30px;
  letter-spacing: 0.7px;
}
.index__catalog__new__title-catalog {
  font-size: 20px;
  letter-spacing: 0.7px;
  margin-left: 77%;
  margin-top: 7px;
  text-decoration: underline;
}
.index__catalog__new__title-catalog:hover {
  transform: scale(1.2);
  transition-duration: 0.5s;
  cursor: pointer;
}
.index__catalog__new__catalog-row {
  display: flex;
  margin-left: 10px;
}

/*  index__catalog */
.index__catalog__conteiner-row {
  display: flex;
}
.index__catalog__row-info {
  width: 50%;
  height: 700px;
}
.index__catalog__info-image {
  z-index: -1;
  position: relative;
}
.index__catalog__image {
  width: 720px;
  height: 700px;
  position: absolute;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.index__catalog__info-title {
  color: #ffffff;
  font-size: 40px;
  font-family: "Circe", Arial, sans-serif;
  font-weight: 400;
  margin-top: 550px;
  margin-left: 50px;
  letter-spacing: 0.7px;
}
.index__catalog__info-button {
  display: flex;
}
.index__catalog__button-title {
  margin-top: 20px;
  margin-left: 50px;
  color: #ffffff;
  font-size: 18px;
  font-family: "Circe", Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 0.7px;
}
.index__catalog__button-arrow {
  margin-top: 20px;
  margin-left: 20px;
}

/*  */
.index__sale__conteiner {
  width: 82%;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 70px;
}
.index__sale__conteiner-title {
  display: flex;
  margin-bottom: 20px;
  margin-top: 80px;
}
.index__sale__title-title {
  font-size: 30px;
  letter-spacing: 0.7px;
  margin-left: 2%;
}
.index__sale__title-catalog {
  font-size: 20px;
  letter-spacing: 0.7px;
  margin-left: 79%;
  text-decoration: underline;
}
.index__sale__catalog-row {
  display: flex;
  margin-left: 10px;
}

/*  */
.index__catalog__set__ticker {
  margin-top: 50px;
}
.index__catalog__set__ticker-marquee {
  color: white;
  background: #e49d86;
  height: 35px;
  font-size: 15px;
  letter-spacing: 0.7px;
  padding-top: 12px;
}
.index__catalog__set__conteiner-row {
  display: flex;
  margin-top: -4px;
}
.index__catalog__set__row-info {
  width: 50%;
  height: 700px;
}
.index__catalog__set__info-image {
  z-index: -1;
  position: relative;
}
.index__catalog__set__image {
  width: 720px;
  height: 700px;
  position: absolute;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.index__catalog__set__info-title {
  color: #ffffff;
  font-size: 40px;
  font-family: "Circe", Arial, sans-serif;
  font-weight: 400;
  margin-top: 550px;
  margin-left: 50px;
  letter-spacing: 0.7px;
}
.index__catalog__set__info-button {
  display: flex;
}
.index__catalog__set__button-title {
  margin-top: 20px;
  margin-left: 50px;
  color: #ffffff;
  font-size: 18px;
  font-family: "Circe", Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 0.7px;
}
.index__catalog__set__button-arrow {
  margin-top: 20px;
  margin-left: 20px;
}

/*  */
.index__about__conteiner-info {
  margin-top: 50px;
  margin-bottom: 50px;
}
.index__about__info-title {
  color: #1c1c1c;
  font-size: 40px;
  font-family: "Circe", Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}
.index__about__info-details {
  margin-top: 40px;
  color: #1c1c1c;
  font-size: 15px;
  font-family: "Circe", Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  line-height: 2;
}

/*  */
.index__catalog__figure__conteiner-row {
  display: flex;
  margin-top: -4px;
}
.index__catalog__figure__row-info {
  width: 50%;
  height: 700px;
}
.index__catalog__figure__info-image {
  z-index: -1;
  position: relative;
}
.index__catalog__figure__image {
  width: 720px;
  height: 700px;
  position: absolute;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.index__catalog__figure__info-title {
  color: #ffffff;
  font-size: 40px;
  font-family: "Circe", Arial, sans-serif;
  font-weight: 400;
  margin-top: 550px;
  margin-left: 50px;
  letter-spacing: 0.7px;
}
.index__catalog__figure__info-button {
  display: flex;
}
.index__catalog__figure__button-title {
  margin-top: 20px;
  margin-left: 50px;
  color: #ffffff;
  font-size: 18px;
  font-family: "Circe", Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 0.7px;
}
.index__catalog__figure__button-arrow {
  margin-top: 20px;
  margin-left: 20px;
}

/*  */
.index__collaborations__conteiner {
  margin-top: 80px;
  margin-bottom: 50px;
}
.index__collaborations__conteiner-title {
  display: flex;
  margin-left: 150px;
  margin-bottom: 50px;
}
.index__collaborations__title-title {
  color: #1c1c1c;
  font-size: 40px;
  font-family: "Circe", Arial, sans-serif;
  line-height: 1.3;
  font-weight: 400;
}
.index__collaborations__title-info {
  margin-top: 15px;
  margin-left: 40%;
  margin-right: 100px;
  color: #1c1c1c;
  font-size: 18px;
  font-family: "Circe", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
.index__collaborations__conteiner-list {
  display: flex;
}
.index__collaborations__list-info {
  width: 355px;
  height: 356px;
  margin-right: 3px;
  margin-left: 3px;
}
.index__collaborations__info-image {
  width: 355px;
  height: 356px;
  position: absolute;
  z-index: -1;
  color: white;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.index__collaborations__info-title {
  margin-top: 320px;
  margin-left: 20px;
  color: white;
}

/*  */
.index__client__conteiner {
  margin-top: 100px;
}
.index__client__conteiner-info {
  display: flex;
  margin-left: 150px;
  margin-bottom: 50px;
}
.index__client__info-title {
  color: #1c1c1c;
  font-size: 40px;
  font-family: "Circe", Arial, sans-serif;
  line-height: 1.3;
  font-weight: 400;
}
.index__client__info-details {
  margin-top: 15px;
  margin-left: 50%;
  margin-right: 100px;
  color: #1c1c1c;
  font-size: 18px;
  font-family: "Circe", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
.index__client__conteiner-scroll {
  width: 80%;
  height: 300px;
}
.index__client__conteiner-button {
  border: 0;
  font-size: 20px;
  background: white;
  color: #1c1c1c;
  font-size: 18px;
  font-family: "Circe", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-decoration: underline;
  margin-left: 43%;
}

/*  */
.index__reviews {
  margin-top: 90px;
  background: #fff7f3;
}
.index__reviews__conteiner {
  width: 80%;
  height: 400px;
}
.index__reviews__conteiner-info {
  display: flex;
}
.index__reviews__info-title {
  color: #1c1c1c;
  font-size: 40px;
  font-family: "Circe", Arial, sans-serif;
  line-height: 1.3;
  font-weight: 400;
  margin-top: 100px;
  margin-left: 150px;
}
.index__reviews__conteiner-button {
  border: 0;
  background: #fff7f3;
  color: #1c1c1c;
  font-size: 18px;
  font-family: "Circe", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-decoration: underline;
  margin-left: 53.5%;
}

/*  */
/* .faq__conteiner {
  display: flex;
  margin-bottom: 50px;
}
.faq__conteiner-title {
  color: #1c1c1c;
  font-size: 40px;
  font-family: "Circe", Arial, sans-serif;
  line-height: 1.3;
  font-weight: 400;
  margin-top: 100px;
  margin-left: 150px;
}
.faq__conteiner-row {
  margin-top: 100px;
  margin-left: 15%;
}
.faq__question-button {
  display: flex;
  border-top: 1px solid #858585;
  cursor: pointer;
}
.faq__button-text {
  color: #1c1c1c;
  font-size: 21px;
  font-weight: 400;
  font-family: "Circe", Arial, sans-serif;
  padding-top: 30px;
  padding-bottom: 30px;
}
.faq__button-scroll {
  width: 10%;
  color: #1c1c1c;
  font-size: 30px;
  font-family: "Circe", Arial, sans-serif;
  padding-top: 30px;
  padding-bottom: 30px;
}
.faq__question-scroll {
  display: none;
} */

/* footer */
.footer__conteiner {
  height: 400px;
  background: #1c1c1c;
  color: white;
}
.footer__conteiner-menu {
  display: flex;
  padding-top: 70px;
  padding-left: 120px;
}
.footer__menu-row {
  font-size: 18px;
  font-family: "Circe", Arial, sans-serif;
  letter-spacing: 0.7px;
  font-weight: 400;
  padding-left: 60px;
}
.footer__menu-row li a {
  font-size: 14px;
  font-family: "Circe", Arial, sans-serif;
  letter-spacing: 0.7px;
  color: white;
  text-decoration: none;
}
.footer__row-title {
  margin-bottom: 15px;
}
.footer__row-point {
  margin-bottom: 15px;
}
.footer__menu-search {
  width: 40%;
  margin-left: 80px;
}
.footer__search-title {
  font-size: 14px;
  font-family: "Circe", Arial, sans-serif;
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  margin-bottom: 40px;
}
.footer__search-info {
  font-size: 12px;
  font-family: "Circe", Arial, sans-serif;
  color: #cecece;
  text-decoration: none;
  letter-spacing: 1px;
  margin-top: 15px;
}
.footer__input-email {
  width: 90%;
  height: 15%;
  background: #1c1c1c;
  color: #6b6b6b;
  font-size: 15px;
  border-bottom: 1px solid white;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  letter-spacing: 1px;
  padding-bottom: 5px;
}
.footer__input-arrow {
  position: absolute;
  z-index: 1;
  margin-left: -31px;
}
.footer__conteiner-info {
  display: flex;
  margin-top: 90px;
  margin-left: 180px;
}
.footer__info-logo {
  font-size: 12px;
  font-family: "Circe", Arial, sans-serif;
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  margin-top: 15px;
  margin-right: 120px;
}
.footer__info-document {
  font-size: 12px;
  font-family: "Circe", Arial, sans-serif;
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  margin-top: 15px;
  margin-right: 40px;
}
.footer__info-social {
  display: flex;
  margin-right: 120px;
}
.footer__image {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
.footer__info-payment {
  margin-top: -5px;
}
.footer__images {
  width: 80px;
  height: 50px;
  margin-right: 20px;
}

/* доставка и оплата */
.delivery {
  display: none;
}
.delivery__title__title {
  font-size: 40px;
  font-weight: 400;
  font-family: "Circe", Arial, sans-serif;
  letter-spacing: 0.7px;
  margin-top: 30px;
  margin-left: 150px;
  margin-bottom: 40px;
}
.delivery__conteiner {
  margin-left: 110px;
  display: flex;
}
.delivery__menu {
  width: 30%;
  margin-bottom: 100px;
}
.delivery__menu-row li {
  color: #6b6b6b;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Trebuchet MS";
}
.delivery__menu-row li:hover {
  color: #ffa071;
  cursor: pointer;
}
.delivery__info {
  width: 70%;
  margin-left: 300px;
  margin-right: 150px;
  font-size: 16px;
  letter-spacing: 0.7px;
  font-family: "Circe", Arial, sans-serif;
  line-height: 1.7;
}

.delivery__info-details {
  display: block;
}
.delivery__info-pochta {
  display: none;
  margin-bottom: 50px;
}
.delivery__info-pochta li {
  margin-bottom: 10px;
  margin-left: -20px;
  display: list-item;
}
.delivery__info-courier {
  display: none;
  margin-bottom: 50px;
}
.delivery__info-courier li {
  margin-bottom: 10px;
  margin-left: -20px;
  display: list-item;
}
.delivery__info-courier h1 {
  font-size: 30px;
  font-weight: 300;
  font-family: "Circe", Arial, sans-serif;
  letter-spacing: 0.7px;
}
.delivery__info-international {
  display: none;
}
.delivery__info-return {
  display: none;
  margin-bottom: 50px;
}
.delivery__info-pay {
  display: none;
}

/* faq */
.faq {
  display: none;
}
.faq__conteiner {
  margin-left: 400px;
  margin-right: 120px;
  margin-bottom: 100px;
}
.faq__title__title {
  font-size: 40px;
  font-weight: 400;
  font-family: "Circe", Arial, sans-serif;
  letter-spacing: 0.7px;
  margin-top: 30px;
  margin-left: 150px;
  margin-bottom: 40px;
}
.faq__conteiner-row {
  border-top: 1px solid #5d5d5d;
}
.faq__row-question {
  margin-top: 25px;
  font-size: 30px;
  font-weight: 300;
  font-family: "Circe", Arial, sans-serif;
  margin-bottom: 20px;
}
.faq__row-details {
  font-size: 15px;
  font-family: "Circe", Arial, sans-serif;
  letter-spacing: 0.7px;
  margin-bottom: 30px;
}

/* Contact */
.contact {
  display: none;
}
.contact__info {
  display: flex;
}
.contact__title__title {
  font-size: 40px;
  font-weight: 400;
  font-family: "Circe", Arial, sans-serif;
  letter-spacing: 0.7px;
  margin-top: 30px;
  margin-left: 150px;
  margin-bottom: 40px;
}
.contact__info-details {
  font-size: 18px;
  font-family: "Circe", Arial, sans-serif;
  letter-spacing: 0.7px;
  margin-bottom: 30px;
  margin-top: 50px;
  margin-left: 370px;
  margin-right: 150px;
}
.contact__form-details {
  margin-left: 150px;
  font-size: 18px;
  font-family: "Circe", Arial, sans-serif;
  letter-spacing: 0.7px;
  margin-bottom: 30px;
  margin-top: 50px;
  margin-left: 280px;
  margin-right: 150px;
}
.contact__details-input {
  width: 300px;

  margin-bottom: 20px;
}
.contact__input-text {
  margin-bottom: 15px;
  font-size: 17px;
  font-weight: 600;
  font-family: "Circe", Arial, sans-serif;
  letter-spacing: 0.7px;
}
.contact__input-input {
  width: 550px;
  height: 30px;
  font-size: 15px;
  border-bottom: 1px solid #1c1c1c;
  border-top: none;
  border-left: none;
  border-right: none;
}
.contact__input-input-sms {
  width: 550px;
  height: 80px;
  font-size: 17px;
  border-bottom: 1px solid #1c1c1c;
  border-top: none;
  border-left: none;
  border-right: none;
}
.contact__details-text {
  width: 500px;
  margin-top: 10px;
  margin-bottom: 50px;
  font-size: 12px;
  color: #6b6b6b;
}

.contact__details-button {
  width: 150px;
  height: 50px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 17px;
  border: 1px solid #1c1c1c;
  background: white;
}
.contact__form {
  display: flex;
}
