@media screen and (max-width: 1366px) {
  .index__header__ticker {
    margin-top: 3%;
  }
  .index__catalog__new__conteiner-title {
    margin-right: -40px;
  }
  .index__catalog__new__title-catalog {
    margin-left: 76%;
  }
  .index__catalog__new__catalog-row {
    margin-left: 0px;
  }
  .index__sale__conteiner-title {
    margin-right: -40px;
  }
}
@media screen and (max-width: 1315px) {
  .header__menu-logo {
    margin-right: 10%;
  }
  .header__nav-row {
    margin-right: 5%;
    margin-left: 5%;
  }
  .index__header__nav-row {
    margin-left: 1%;
  }
  .catalog__button__conteiner {
    margin-left: 5%;
  }
  .catalog__conteiner-sortorder {
    margin-left: 5%;
  }
  .contact__info-details {
    margin-left: 20%;
  }
  .contact__form-details {
    margin-left: 13%;
  }
}
@media screen and (max-width: 1260px) {
  .index__header__ticker {
    margin-top: 2%;
  }
  .index__header__conteiner-scroll {
    margin-top: 20%;
  }
  .index__header__menu-logo {
    margin-right: 7%;
  }
  .index__header__nav-row {
    margin-right: 5%;
  }
  .index__catalog__new__conteiner {
    width: 92%;
  }
  .index__catalog__new__conteiner-title {
    margin-right: -30px;
  }
  .index__sale__conteiner {
    width: 92%;
  }
  .index__catalog__new__conteiner-title {
    margin-right: -30px;
  }
  .catalog__button__conteiner {
    margin-left: 3%;
  }
  .catalog__title__title {
    margin-left: 10%;
  }
  .catalog__menu-list {
    margin-left: 28%;
  }
  .catalog__conteiner-sortorder {
    margin-left: 3%;
  }
  .footer__menu-search {
    margin-left: 13%;
  }
  .footer__conteiner-info {
    margin-left: 10%;
  }
  .footer__info-logo {
    margin-right: 100px;
  }
  .footer__info-document {
    margin-right: 20px;
  }
  .contact__info-details {
    margin-left: 300px;
  }
  .header__nav-row {
    margin-left: 3%;
  }
  .tattoo__menu-list {
    margin-left: 8%;
  }
}
@media screen and (max-width: 1200px) {
  .index__header__conteiner-scroll {
    margin-top: 15%;
  }
  .index__header__ticker {
    margin-top: 3%;
  }
  .index__catalog__new__conteiner {
    width: 90%;
    margin-left: 8%;
  }
  .index__catalog__new__catalog-row {
    display: flex;
    flex-wrap: wrap;
  }
  .index__catalog__new__catalog-row div:nth-child(4) {
    display: none;
  }
  .index__sale__catalog-row div:nth-child(4) {
    display: none;
  }
  .catalog__row-product {
    margin-left: 15px;
    margin-right: 17px;
  }
  .index__sale__conteiner {
    width: 96%;
  }
  .index__sale__conteiner-title {
    margin-right: -15px;
  }
  .footer__info-logo {
    margin-right: 70px;
  }
  .catalog__button__conteiner {
    margin-left: 5%;
  }
  .catalog__button__image {
    width: 210px;
    height: 210px;
  }
  .catalog__button__conteiner-image {
    width: 210px;
    height: 210px;
  }
  .catalog__button__title {
    margin-top: 180px;
  }
  .catalog__row-product {
    width: 320px;
  }
  .catalog__conteiner-sortorder {
    margin-left: 8%;
  }
  .catalog__product-image {
    width: 270px;
    height: 270px;
  }
  .contact__form-details {
    margin-left: 250px;
  }
  .contact__info-details {
    margin-left: 280px;
  }
  .index__catalog__new__title-catalog {
    margin-left: 66%;
  }
  .index__catalog__image {
    width: 700px;
    height: 600px;
  }
  .index__catalog__info-title {
    margin-top: 78%;
  }
  .index__catalog__row-info {
    height: 600px;
  }
  .index__sale__conteiner {
    width: 80%;
    margin-left: 12%;
  }
  .index__sale__title-catalog {
    margin-left: 72%;
  }
  .index__sale__catalog-row {
    margin-left: 15px;
    margin-right: 17px;
  }
  .index__catalog__set__row-info {
    height: 600px;
  }
  .index__catalog__set__image {
    width: 620px;
    height: 600px;
  }
  .index__catalog__set__info-title {
    margin-top: 78%;
  }
  .index__catalog__figure__row-info {
    height: 600px;
  }
  .index__catalog__figure__image {
    width: 620px;
    height: 600px;
  }
  .index__catalog__figure__info-title {
    margin-top: 77%;
  }
  .index__catalog__new__conteiner-title {
    margin-right: -20px;
  }
  .footer__conteiner-menu {
    padding-left: 4%;
  }
  .basket__conteiner {
    margin-left: 23%;
  }
  .footer__conteiner-info {
    margin-left: 8%;
  }
  .contact__info-details {
    margin-left: 20%;
  }
  .tattoo__menu-list {
    margin-left: 6%;
  }
}
@media screen and (max-width: 1150px) {
  .index__header__menu-logo {
    margin-left: 2%;
  }
  .index__header__nav-row {
    margin-left: 1%;
  }
  .index__header__conteiner-title {
    font-size: 50px;
  }
  .index__catalog__row-info {
    height: 550px;
  }
  .index__catalog__info-title {
    margin-top: 72%;
  }
  .index__catalog__image {
    height: 550px;
  }
  .index__catalog__new__conteiner {
    width: 92%;
  }
  .index__catalog__new__conteiner-title {
    margin-right: 0px;
  }
  .contact__form-details {
    margin-left: 210px;
  }
  .contact__info-details {
    margin-left: 210px;
  }
  .header__nav-row {
    margin-right: 2%;
  }
  .index__catalog__set__ticker {
    min-width: 1240px;
  }
  .index__header__conteiner-scroll {
    margin-top: 19%;
  }
  .header__menu-image {
    width: 50px;
  }
  .index__catalog__new__conteiner {
    margin-left: 5%;
  }
}
@media screen and (max-width: 1100px) {
  .index__header__ticker {
    margin-top: 2%;
    min-width: 100%;
  }
  .catalog__row-product {
    width: 280px;
  }
  .index__sale__catalog-row {
    margin-left: -15px;
  }
  .footer__info-logo {
    margin-right: 1%;
  }
  .footer__conteiner-info {
    margin-left: 5%;
  }
  .header__menu-logo {
    margin-right: 4%;
  }
  .catalog__button__conteiner-image {
    width: 190px;
    height: 190px;
  }
  .catalog__button__image {
    width: 190px;
    height: 190px;
  }
  .catalog__button__title {
    margin-top: 70%;
  }
  #catalog__button__conteiner-gift div:last-child {
    color: black;
    margin-top: 72%;
    font-weight: 800;
  }
  .delivery__info {
    margin-left: 15%;
  }
  .contact__form-details {
    margin-left: 15%;
  }
  .contact__info-details {
    margin-left: 15%;
  }
  .contact__input-input {
    width: 450px;
  }
  .contact__input-input-sms {
    width: 450px;
  }
}
@media screen and (max-width: 1050px) {
  .index__header__conteiner-scroll {
    margin-top: 15%;
  }
  .index__header__menu-logo {
    font-size: 20px;
  }
  .index__header__nav-row {
    margin-left: 0;
  }
  .index__header__ticker {
    margin-top: 3%;
  }
  .header__menu-logo {
    font-size: 20px;
  }
  .header__nav-row {
    margin-right: 1%;
  }
  .tattoo__menu-list li {
    padding-left: 30px;
    padding-right: 30px;
  }
  .tattoo__menu-list {
    margin-left: 5%;
  }
}
@media screen and (max-width: 1024px) {
  .index__catalog__set__ticker {
    min-width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  .catalog__row-product {
    width: 250px;
  }
  .catalog__row-product {
    margin-left: 25px;
    margin-right: 25px;
  }
  .index__catalog__set__ticker {
    min-width: 1000px;
  }
  .footer__images {
    width: 50px;
  }
  .footer__menu-search {
    margin-left: 10%;
  }
  .index__header__menu-image {
    width: 40px;
  }
  .catalog__button__conteiner-image {
    width: 170px;
    height: 170px;
  }
  .catalog__button__title {
    margin-top: 80%;
  }
  .catalog__button__image {
    width: 170px;
    height: 170px;
  }
  .catalog__menu-list {
    margin-left: 23%;
    margin-bottom: 30px;
  }
  .catalog__title__title {
    margin-bottom: 20px;
  }
  .catalog__conteiner-sortorder {
    margin-left: 5%;
  }
  .basket__conteiner {
    margin-left: 15%;
  }
  .header__nav-row {
    margin-left: 1%;
  }
}
@media screen and (max-width: 950px) {
  .catalog__row-product {
    width: 220px;
  }
  .catalog__product-image {
    width: 220px;
    height: 220px;
  }
  .index__catalog__row-info {
    height: 450px;
  }
  .index__catalog__info-title {
    margin-top: 65%;
  }
  .index__catalog__image {
    height: 450px;
  }
  .index__sale__title-catalog {
    margin-left: 68%;
  }
  .index__catalog__set__row-info {
    height: 450px;
  }
  .index__catalog__set__image {
    height: 450px;
  }
  .index__catalog__set__info-title {
    margin-top: 65%;
  }
  .index__catalog__figure__row-info {
    height: 450px;
  }
  .index__catalog__figure__image {
    height: 450px;
  }
  .index__collaborations__title-info {
    margin-left: 20%;
  }
  .index__client__info-details {
    margin-left: 20%;
  }
  .index__reviews__info-scroll {
    margin-left: 100px;
    margin-right: 10px;
  }
  .footer__search-info {
    font-size: 10px;
  }
  .footer__menu-search {
    margin-left: 5%;
  }
  .index__header__nav-row {
    margin-left: 1%;
    margin-right: 2%;
  }
  .header__menu-logo {
    margin-left: 30px;
  }
  .contact__input-input {
    width: 350px;
  }
  .contact__input-input-sms {
    width: 350px;
  }
  .contact__details-text {
    width: 400px;
  }
  .basket__conteiner {
    margin-left: 10%;
  }
  .buy__conteiner {
    margin-left: 15%;
  }
  .tattoo__menu-list li {
    font-size: 14px;
  }
}
@media screen and (max-width: 900px) {
  .index__header__nav-row li {
    font-weight: 500;
    font-size: 12px;
  }
  .index__header__menu-image {
    width: 30px;
    height: 30px;
  }
  .index__header__language-ru {
    margin-top: -5px;
  }
  .index__header__conteiner-title {
    font-size: 40px;
    margin-top: 70px;
  }
  .index__sale__conteiner {
    margin-left: 7%;
  }
  .index__catalog__figure__info-title {
    margin-top: 70%;
  }
  .index__reviews__info-scroll {
    margin-left: 60px;
  }
  .footer__menu-row {
    font-size: 16px;
    padding-left: 30px;
  }
  .footer__info-logo {
    font-size: 10px;
  }
  .footer__info-document {
    font-size: 10px;
  }
  .footer__image {
    margin-right: 5px;
  }
  .footer__images {
    width: 30px;
  }
  .header__menu-logo {
    font-size: 18px;
  }
  .header__nav-row li {
    padding-right: 30px;
    font-size: 12px;
  }
  .catalog__button__conteiner-image {
    width: 150px;
    height: 150px;
  }
  .catalog__button__image {
    width: 150px;
    height: 150px;
  }
  #catalog__button__conteiner-gift div:last-child {
    margin-top: 65%;
  }
  .tattoo__menu-list li {
    padding-left: 20px;
    padding-right: 20px;
  }
  .tattoo__menu-list {
    margin-left: 7%;
  }
}
@media screen and (max-width: 850px) {
  .index__header__menu-logo {
    font-size: 18px;
  }
  .index__header__nav-row li {
    padding-right: 20px;
  }
  .index__header__nav-row {
    margin-right: 1%;
  }
  .catalog__row-product {
    width: 200px;
  }
  .index__catalog__new__title-title {
    font-size: 25px;
  }
  .index__catalog__new__title-catalog {
    font-size: 18px;
  }
  .index__catalog__row-info {
    height: 400px;
  }
  .index__catalog__image {
    height: 400px;
  }
  .index__sale__title-title {
    font-size: 28px;
  }
  .index__sale__title-catalog {
    font-size: 18px;
  }
  .index__catalog__set__image {
    height: 400px;
  }
  .index__catalog__figure__image {
    height: 400px;
  }
  .index__catalog__figure__info-title {
    margin-top: 60%;
  }
  .index__collaborations__title-title {
    font-size: 30px;
  }
  .index__client__info-title {
    font-size: 30px;
  }
  .uk-child-width-1-3\@s > * {
    width: calc(80% * 1 / 3.001);
  }
  .index__reviews__info-title {
    font-size: 30px;
  }
  .otzivy__conteiner {
    width: 500px;
    margin-left: 20%;
  }
  .otzivy__info-input {
    margin-left: 10%;
  }
  .otzivy__title-exit {
    margin-left: 70%;
  }
  .otzivy__button {
    margin-left: 15%;
  }
  .header__menu-logo {
    margin-right: 3%;
  }
  .header__nav-row li {
    padding-right: 20px;
  }
  .basket__conteiner {
    width: 650px;
  }
  .basket__title-title {
    font-size: 25px;
  }
  .basket__conteiner-none {
    font-size: 18px;
  }
  .basket__summ-total {
    font-size: 20px;
  }
  .basket__conteiner-info {
    font-size: 12px;
  }
  .faq__title__title {
    font-size: 30px;
  }
  .faq__conteiner {
    margin-left: 35%;
  }
  .faq__row-question {
    font-size: 26px;
  }
  .faq__row-details {
    font-size: 13px;
  }
  .contact__title__title {
    font-size: 30px;
    margin-left: 100px;
  }
  .contact__info-details {
    font-size: 16px;
  }
  .contact__input-text {
    font-size: 15px;
  }
  .contact__details-text {
    font-size: 10px;
  }
  .footer__search-info {
    font-size: 9px;
  }
}
@media screen and (max-width: 800px) {
  .index__header__menu-logo {
    font-size: 17px;
    margin-right: 2%;
    margin-left: 6%;
  }
  .catalog__row-product {
    width: 180px;
  }
  .catalog__product-image {
    width: 200px;
    height: 200px;
  }
  .index__catalog__new__conteiner-title {
    margin-left: 3%;
  }
  .index__catalog__new__title-catalog {
    margin-left: 64%;
  }
  .catalog__product-title {
    font-size: 16px;
  }
  .index__catalog__info-title {
    font-size: 30px;
  }
  .index__catalog__button-title {
    font-size: 16px;
  }
  .index__catalog__info-title {
    margin-top: 70%;
  }
  .index__catalog__set__ticker {
    min-width: 600px;
  }
  .index__catalog__set__info-title {
    font-size: 30px;
    margin-top: 70%;
  }
  .index__catalog__figure__info-title {
    margin-top: 70%;
    font-size: 30px;
  }
  .index__catalog__figure__row-info {
    height: 400px;
  }
  .index__collaborations__info-title {
    margin-top: -15%;
  }
  .index__reviews {
    margin-top: 0px;
  }
  .index__reviews__conteiner {
    width: 90%;
  }
  .index__reviews__conteiner-button {
    margin-left: 55.5%;
  }
  .footer__menu-row {
    padding-left: 10px;
  }
  .footer__image {
    width: 20px;
    height: 20px;
  }
  .index__header__ticker {
    margin-top: 2%;
  }
  .catalog__button__conteiner-image {
    width: 130px;
    height: 130px;
  }
  .catalog__button__image {
    width: 130px;
    height: 130px;
  }
  .catalog__button__title {
    font-size: 13px;
  }
  .catalog__menu-list {
    margin-left: 15%;
  }
  .delivery__title__title {
    font-size: 30px;
  }
  .delivery__conteiner {
    margin-left: 10%;
  }
  .delivery__menu-row li {
    font-size: 16px;
  }
  .delivery__info {
    margin-left: 10%;
  }
  .delivery__info {
    margin-right: 100px;
  }
}
@media screen and (max-width: 750px) {
  .index__header__menu-logo {
    font-size: 15px;
  }
  .index__header__nav-row {
    margin-right: 0%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .index__header__conteiner-title {
    margin-top: 30px;
  }
  .index__header__conteiner-scroll {
    margin-top: 13%;
  }
  .index__catalog__row-info {
    height: 380px;
  }
  .index__catalog__image {
    height: 380px;
  }
  .index__sale__title-catalog {
    margin-left: 65%;
  }
  .index__catalog__set__row-info {
    height: 380px;
  }
  .index__catalog__set__image {
    height: 380px;
  }
  .index__catalog__figure__row-info {
    height: 380px;
  }
  .index__catalog__figure__image {
    height: 380px;
  }
  .index__collaborations__conteiner-title {
    margin-left: 100px;
  }
  .index__client__conteiner-info {
    margin-left: 100px;
  }
  .index__reviews__info-title {
    margin-left: 100px;
  }
  .tattoo__menu-list li {
    padding-left: 10px;
  }
  .header__menu-logo {
    font-size: 16px;
  }
  .buy__conteiner {
    margin-left: 10%;
  }
  .contact__info-details {
    margin-right: 10%;
  }
  .header__menu-image {
    margin-right: 0;
  }
}
