@media screen and (max-width: 1366px) {
  body {
    width: 1365px;
  }
  .index__header__ticker {
    min-width: 1366px;
    margin-top: 3%;
  }
  .index__catalog__new__conteiner-title {
    margin-right: -40px;
  }
  .index__catalog__new__title-catalog {
    margin-left: 76%;
  }
  .index__catalog__new__catalog-row {
    margin-left: 0px;
  }
  .index__sale__conteiner-title {
    margin-right: -40px;
  }
}
@media screen and (max-width: 1362px) {
  body {
    width: 1361px;
  }
  .index__header__ticker {
    margin-top: 3%;
  }
}
@media screen and (max-width: 1360px) {
  body {
    width: 1359px;
  }
}
@media screen and (max-width: 1350px) {
  body {
    width: 1350px;
  }
  .index__header__conteiner-scroll {
    margin-top: 23%;
  }
  .index__header__ticker {
    margin-top: 1%;
  }
}
@media screen and (max-width: 1330px) {
  body {
    width: 1330px;
  }
  .index__header__menu-logo {
    margin-right: 10%;
  }
  .index__header__nav-row {
    margin-right: 7%;
    margin-left: 5%;
  }
  .index__header__ticker {
    margin-top: 4%;
  }
  .index__header__conteiner-scroll {
    margin-top: 20%;
  }
  .index__catalog__new__conteiner {
    width: 85%;
  }
  .index__catalog__new__conteiner-title {
    margin-right: -70px;
  }
  .index__catalog__new__title-catalog {
    margin-left: 73%;
  }
  .index__sale__conteiner-title {
    margin-right: -70px;
  }
  .index__sale__conteiner {
    width: 85%;
  }
  .index__sale__conteiner-title {
    margin-right: -50px;
  }
  .catalog__button__conteiner {
    margin-left: 8%;
  }
  .catalog__conteiner-sortorder {
    margin-left: 8%;
  }
  .header__language-ru {
    margin-right: 10%;
  }
}
@media screen and (max-width: 1320px) {
  body {
    width: 1320px;
  }
}
@media screen and (max-width: 1310px) {
  body {
    width: 1310px;
  }
  .header__menu-logo {
    margin-right: 10%;
  }
  .header__nav-row {
    margin-right: 5%;
    margin-left: 5%;
  }
}
@media screen and (max-width: 1300px) {
  body {
    width: 1300px;
  }
  .index__header__ticker {
    margin-top: 3%;
  }
  .index__catalog__new__title-catalog {
    margin-left: 75%;
  }
}
@media screen and (max-width: 1290px) {
  body {
    width: 1290px;
  }
}
@media screen and (max-width: 1270px) {
  body {
    width: 1270px;
  }
  .index__header__ticker {
    margin-top: 2.8%;
  }
}
@media screen and (max-width: 1260px) {
  body {
    width: 1260px;
  }
}
@media screen and (max-width: 1251px) {
  body {
    width: 1250px;
  }
  .index__header__ticker {
    margin-top: 2.5%;
  }
  .index__header__conteiner-scroll {
    margin-top: 20%;
  }
  .index__header__menu-logo {
    margin-right: 7%;
  }
  .index__header__nav-row {
    margin-right: 5%;
  }
  .index__catalog__new__conteiner {
    width: 92%;
  }
  .index__catalog__new__conteiner-title {
    margin-right: -30px;
  }
  .index__sale__conteiner {
    width: 92%;
  }
  .index__catalog__new__conteiner-title {
    margin-right: -30px;
  }
  .catalog__button__conteiner {
    margin-left: 3%;
  }
  .catalog__title__title {
    margin-left: 10%;
  }
  .catalog__menu-list {
    margin-left: 25%;
  }
  .catalog__conteiner-sortorder {
    margin-left: 3%;
  }
  .footer__menu-search {
    margin-left: 13%;
  }
  .footer__conteiner-info {
    margin-left: 10%;
  }
  .footer__info-logo {
    margin-right: 100px;
  }
  .footer__info-document {
    margin-right: 20px;
  }
  .contact__info-details {
    margin-left: 300px;
  }
  .header__nav-row {
    margin-left: 3%;
  }
}
@media screen and (max-width: 1240px) {
  body {
    width: 1240px;
  }
}
@media screen and (max-width: 1230px) {
  body {
    width: 1230px;
  }
  .index__header__ticker {
    margin-top: 2%;
  }
}
@media screen and (max-width: 1230px) {
  body {
    width: 1220px;
  }
  .index__header__ticker {
    margin-top: 2%;
  }
  .index__header__conteiner-scroll {
    margin-top: 18%;
  }
}
@media screen and (max-width: 1210px) {
  body {
    width: 1210px;
  }
}
@media screen and (max-width: 1200px) {
  body {
    width: 1200px;
  }
  .index__header__menu-logo {
    margin-right: 5%;
  }
  .index__header__ticker {
    margin-top: 4%;
  }
  .index__header__conteiner-scroll {
    margin-top: 15%;
  }
  .index__catalog__new__conteiner {
    width: 90%;
    margin-left: 8%;
  }
  .index__catalog__new__catalog-row {
    display: flex;
    flex-wrap: wrap;
  }
  .index__catalog__new__catalog-row div:nth-child(4) {
    display: none;
  }
  .index__sale__catalog-row div:nth-child(4) {
    display: none;
  }
  .catalog__row-product {
    margin-left: 15px;
    margin-right: 17px;
  }
  .index__sale__conteiner {
    width: 96%;
  }
  .index__sale__conteiner-title {
    margin-right: -15px;
  }
  .footer__info-logo {
    margin-right: 70px;
  }
  .catalog__button__conteiner {
    margin-left: 5%;
  }
  .catalog__button__image {
    width: 210px;
    height: 210px;
  }
  .catalog__button__conteiner-image {
    width: 210px;
    height: 210px;
  }
  .catalog__button__title {
    margin-top: 180px;
  }
  .catalog__row-product {
    width: 320px;
  }
  .catalog__conteiner-sortorder {
    margin-left: 8%;
  }
  .catalog__product-image {
    width: 270px;
    height: 270px;
  }
  .contact__form-details {
    margin-left: 250px;
  }
  .contact__info-details {
    margin-left: 280px;
  }
  .index__catalog__new__title-catalog {
    margin-left: 66%;
  }
  .index__catalog__image {
    width: 700px;
    height: 600px;
  }
  .index__catalog__info-title {
    margin-top: 78%;
  }
  .index__catalog__row-info {
    height: 600px;
  }
  .index__sale__conteiner {
    width: 80%;
    margin-left: 12%;
  }
  .index__sale__title-catalog {
    margin-left: 72%;
  }
  .index__sale__catalog-row {
    margin-left: 15px;
    margin-right: 17px;
  }
  .index__catalog__set__row-info {
    height: 600px;
  }
  .index__catalog__set__image {
    width: 620px;
    height: 600px;
  }
  .index__catalog__set__info-title {
    margin-top: 78%;
  }
  .index__catalog__figure__row-info {
    height: 600px;
  }
  .index__catalog__figure__image {
    width: 620px;
    height: 600px;
  }
  .index__catalog__figure__info-title {
    margin-top: 77%;
  }
  .index__catalog__new__conteiner-title {
    margin-right: -20px;
  }
  .footer__conteiner-menu {
    padding-left: 4%;
  }
  .basket__conteiner {
    margin-left: 23%;
  }
  .footer__conteiner-info {
    margin-left: 8%;
  }
}
@media screen and (max-width: 1190px) {
  body {
    width: 1190px;
  }
  .index__catalog__set__ticker {
    min-width: 1340px;
  }
  .header__nav-row {
    margin-left: 1%;
  }
  .header__menu-image {
    margin-left: 0px;
  }
  .basket__conteiner {
    margin-left: 20%;
  }
}
@media screen and (max-width: 1180px) {
  body {
    width: 1180px;
  }
}
@media screen and (max-width: 1165px) {
  body {
    width: 1165px;
  }
  .index__header__menu-logo {
    margin-left: 4%;
  }
  .index__header__nav-row {
    margin-left: 5%;
  }
  .index__catalog__row-info {
    height: 550px;
  }
  .index__catalog__info-title {
    margin-top: 72%;
  }
  .index__catalog__image {
    height: 550px;
  }
  .index__catalog__new__conteiner {
    width: 92%;
  }
  .index__catalog__new__conteiner-title {
    margin-right: 0px;
  }
  .contact__form-details {
    margin-left: 210px;
  }
  .contact__info-details {
    margin-left: 210px;
  }
  .header__nav-row {
    margin-right: 2%;
  }
}
@media screen and (max-width: 1150px) {
  body {
    width: 1150px;
  }
}
@media screen and (max-width: 1140px) {
  body {
    width: 1140px;
  }
  .index__catalog__new__conteiner {
    width: 94%;
    margin-left: 60px;
  }
  .index__catalog__new__conteiner-title {
    margin-right: 5px;
  }
  .index__catalog__new__conteiner-title {
    margin-left: 4%;
  }
  .catalog__conteiner-sortorder {
    margin-left: 7%;
  }
  .index__sale__conteiner {
    margin-left: 8%;
  }
  .footer__conteiner-info {
    margin-left: 6%;
  }
}
